{% extends 'home.html' %}

{% block container %}
  <a href="{{ url_for('features.features') }}" id="features_link">
      Click here to see the features
  </a>
  <div class="top-pad">
    <form method="POST"
        action="{{ url_for('features.create_feature') }}" role="form"
        enctype="multipart/form-data">
      <div class="form-group">{{ form.title.label }}: {{ form.title() }}</div>
      <div class="form-group">{{ form.client.label }}: {{ form.client() }}</div>
      <div class="form-group">{{ form.area.label }}: {{ form.area() }}</div>
{#      <div class="form-group">{{ form.priority.label }}: {{ form.priority() }}</div>#}
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>
{% endblock %}

{% block scripts %}
<script>
$(document).ready(function(){
  $.getJSON("/home", function(data) {
    $('#features_link').append('<span class="badge">' + data.count + '</span>');
  });
});
</script>
{% endblock %}