{% extends 'home.html' %}

{% block container %}
  <a href="{{ url_for('features.features') }}" id="features_link">
      Click here to see the features
  </a>
  <div class="top-pad">
    <h1><small></small>{{ feature.title }}</h1>
    <h4><small>Client </small>{{ feature.client.name }}</h4>
    <h4><small>Priority </small>{{ feature.priority }}</h4>
    <h4><small>Target Date </small>{{ feature.target_date }}</h4>
    <h4><small>Product Area </small>{{ feature.area.name }}</h4>
      <h4><small><u>Description </u><br>{{ feature.description }}</small></h4>
  </div>
{% endblock %}

{% block scripts %}
<script>
$(document).ready(function(){
  $.getJSON("/home", function(data) {
    $('#features_link').append('<span class="badge">' + data.count + '</span>');
  });
});
</script>
{% endblock %}